<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html">
<th:block th:replace="~{fragment/head :: head(経路編集)}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center flex-grow">
  <form id="planForm" class="w-full">
    <div
            id="popup"
            class="hidden sm:hidden fixed inset-0 z-50 items-center justify-center bg-black bg-opacity-50"
            onclick="closePopup()">
      <div
              class="relative w-4/5 h-4/5 bg-white shadow-lg rounded-md"
              onclick="Event.stopPropagation()">
        <div id="sp-map" class="w-full h-full p-4">
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <label class="text-center bg-red-50 flex justify-center items-center w-full" style="aspect-ratio: 5/1">
        <!--            TODO:画像インプット用のmodalを作成する-->
        <!--            <th:block th:replace="~{fragment/modal :: }"/>-->
        <th:block th:replace="~{fragment/svg :: camera}"/>
      </label>
      <div class="flex">
        <div class="sm:border-b-2 border-b w-1/2 text-center mx-auto my-10">
          <input type="text" th:value="${editForm.title}" placeholder="タイトルを入力してください" class="w-full sm:text-3xl text-xl text-center" style="border: none" onchange="redirect('/plan/edit')">
        </div>
        <button onclick="openPopup()" class="sm:hidden inline-block h-12 w-12 my-auto mr-8 cursor-pointer">
          <th:block th:replace="~{fragment/svg :: map}"/>
        </button>
      </div>
    </div>
    <div class="mx-10 flex">
      <section class="sm:w-1/2 w-full">
        <div class="flex space-x-0 pb-[0.625rem] border-b-2 mt-6">
          <div th:each="day : ${editDayForm.days}">
            <a th:href="@{/plan/edit(selectedDay=${editDayForm.day}, maxDays=${editDayForm.maxDays})}"
               th:classappend="${day == selectedDay} ? 'pt-5 pb-3 sm:px-6 lg:px-12 px-8 bg-green-600 text-white h-12' : 'pt-3 pb-3 sm:px-4 lg:px-10 px-6 bg-green-400 text-white'"
               class="rounded-t-md text-center items-center cursor-pointer">
              <span th:text="${editDayForm.day} + '日目'"></span>
            </a>
          </div>
        </div>
        <div class="flex flex-col mt-6 mb-10">
          <div class="mb-6">
            <p class="mb-2 sm:text-lg text-base">出発地点<span class="sm:ml-2 ml-1 text-sm text-danger">必須</span></p>
            <!-- TODO:出発地点を表示する用modalを挿入 -->
            <th:block th:replace="~{fragment/modal :: start}"/>
          </div>
          <div class="mb-6">
            <p class="mb-2 sm:text-lg text-base">目的地</p>
            <!-- TODO:目的地の表示をするmodalを挿入する -->
            <div th:each="place : ${places}">
              <th:block th:replace="~{fragment/modal :: place}"/>
            </div>
          </div>
          <div class="mb-6">
            <p class="mb-2 sm:text-lg text-base">終了地点<span class="sm:ml-2 ml-1 text-sm text-danger">必須</span></p>
            <!-- TODO:終了地点を表示するmodalを挿入 -->
            <th:block th:replace="~{fragment/modal :: start}"/>
          </div>
          <!-- 目的地を追加するためのモーダル -->
          <th:block th:replace="~{fragment/modal :: places(1)}"/>
          <!-- おすすめ目的地のセクション -->
          <section class="pt-10">
            <details open class="p-4 group overflow-hidden transition-[max-height] duration-500">
              <summary class="sm:text-xl text-lg cursor-pointer font-semibold marker:text-transparent group-open:before:rotate-90  before:origin-center relative before:w-[18px] before:h-[18px] before:transition-transform before:duration-200 before:-left-1 before:top-2/4 before:-translate-y-2/4 before:absolute before:bg-no-repeat before:bg-[length:18px_18px] before:bg-center before:bg-[url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M9%205l7%207-7%207%22%20%2F%3E%0A%3C%2Fsvg%3E')]">
                おすすめ目的地を追加
              </summary>
              <hr class="my-2 scale-x-150"/>
              <div class="sm:text-lg text-base -m-4 -mt-2 p-4">
                目的地のジャンル別に絞る
                <!-- TODO:正規のジャンル一覧はControllerから受け渡す -->
                <select class="focus:outline-none ml-6 rounded-xl h-8 text-xs" name="sample">
                  <option value="0">全て</option>
                  <option value="1">観光</option>
                  <option value="2">グルメ</option>
                  <option value="3">ショッピング</option>
                  <option value="4">アクティビティ</option>
                  <option value="5">宿泊</option>
                  <option value="6">その他</option>
                </select>
              </div>
              <p class="sm:text-lg text-base text-danger my-4">先に出発地点、終了地点、目的のどれかを入力してください。</p>
            </details>
          </section>
          <section class="pt-10">
            <details open class="p-4 group overflow-hidden transition-[max-height] duration-500">
              <summary class="sm:text-xl text-lg cursor-pointer font-semibold marker:text-transparent group-open:before:rotate-90  before:origin-center relative before:w-[18px] before:h-[18px] before:transition-transform before:duration-200 before:-left-1 before:top-2/4 before:-translate-y-2/4 before:absolute before:bg-no-repeat before:bg-[length:18px_18px] before:bg-center before:bg-[url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M9%205l7%207-7%207%22%20%2F%3E%0A%3C%2Fsvg%3E')]">
                オプション
              </summary>
              <hr class="my-2 scale-x-150"/>
              <div class="sm:text-lg text-base -m-4 -mt-2 p-4 flex flex-col">
                利用する交通手段
                <!-- TODO:交通手段のsvgアイコンを追加する -->
                <div class="my-1 sm:text-base text-sm">
                  <label for="useHighway">
                    <input type="checkbox" id="useHighway" name="useHighway" value="useHighway" th:checked="${editDayForm.useHighway}" class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-5 before:w-5 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-700 checked:bg-blue-700 checked:before:bg-blue-700 hover:before:opacity-10" onchange="redirect('/plan/edit')">
                    <span class="ml-2 text-center">有料道路の利用</span>
                  </label>
                </div>
                <div class="my-1 sm:text-base text-sm">
                  <label for="useFerry">
                    <input type="checkbox" id="useFerry" name="useFerry" value="useFerry" th:checked="${editDayForm.useFerry}" class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-5 before:w-5 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-700 checked:bg-blue-700 checked:before:bg-blue-700 hover:before:opacity-10" onchange="redirect('/plan/edit')">
                    <span class="ml-2 text-center">フェリーの利用</span>
                  </label>
                </div>
                <div class="my-1 sm:text-base text-sm">
                  <label for="walkFlag">
                    <input type="checkbox" id="walkFlag" name="walkFlag" value="walkFlag" th:checked="${editDayForm.walkFlag}" class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-5 before:w-5 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-700 checked:bg-blue-700 checked:before:bg-blue-700 hover:before:opacity-10" onchange="handleWalkFlagChange()">
                    <span class="ml-2 text-center">徒歩で移動可能な時間を指定</span>
                  </label>
                </div>
                <label class="ml-10">
                  <input type="number" id="walkingTime" name="walkingTime" th:value="${editDayForm.walkingTime}" class="sm:w-56 w-32 sm:h-8 h-6 border border-b-gray-400 rounded-lg text-base text-center disabled:bg-[#e5e5e5] disabled:border-[#888] disabled:text-[#888]" min="0" max="" disabled onchange="redirect('/plan/edit')" >
                  <span class="mx-4">分</span>
                </label>
              </div>
            </details>
          </section>
        </div>
        <div class="flex justify-center mb-20">
          <button type="button" class="sm:mx-10 mx-5 flex items-center justify-center button-secondary" onclick="redirect('/plan/create')">
            <th:block th:replace="~{fragment/svg :: plus}"/>
            日付の追加
          </button>
          <button type="button" class="sm:mx-10 mx-5 block items-center justify-center button-primary" onclick="redirect('/plan/list')">一時保存</button>
          <button type="button" class="sm:mx-10 mx-5 block items-center justify-center button-primary" onclick="redirect('/share/plan')">プラン確定</button>
        </div>
      </section>
      <section class="sm:w-1/2 hidden sm:inline-block">
        <div id="map" class="w-full h-full"></div>
      </section>
    </div>
  </form>
</main>
<th:block th:replace="~{fragment/footer :: footer}"/>
<th:block th:replace="~{fragment/script :: flowbite}"/>
<th:block th:replace="~{fragment/script :: googleMapsAPI}"/>
<th:block th:replace="~{fragment/script :: map}"/>
<th:block th:replace="~{fragment/script :: modal}"/>
<th:block th:replace="~{fragment/script :: check}"/>
<th:block th:replace="~{fragment/script :: redirect}"/>
</body>
</html>
