<!DOCTYPE html>
<html lang="ja">
<th:block th:fragment="head(title)">
    <head>
        <meta charset="UTF-8">
        <!--レスポンシブデザインを適用するための設定-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--タイトルの設定-->
        <title th:text="${title}">Welcome</title>
        <!--tailwind.cssよみこみ-->
        <link href="/css/tailwind.css" rel="stylesheet">
        <!--faviconの設定-->
        <link rel="icon" href="/images/favicon.ico">
        <!--フォントの設定-->
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
        <!--共通のCSSの設定-->
        <link href="/css/common.css" rel="stylesheet">
        <!-- ドラックアンドドロップの読み込み -->
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    </head>
</th:block>

<body>
</body>
</html>