<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="startToggle">
    <!-- Modal toggle -->
    <button class="input text-center text-label max-w-md w-4/5 h-10 sm:h-12 flex justify-between items-center"
            data-modal-target="startModal" data-modal-toggle="startModal" id="startToggle" type="button">
        <span class="text-[10px] sm:text-base absolute" id="startTimeSpan"></span>
        <span class="flex-1 text-base sm:text-xl truncate ... px-2" id="startPlaceSpan">出発地点を入力する</span>
        <span></span>
    </button>
</th:block>

<th:block th:fragment="startForm(startPlaceForm)">
    <!-- Main modal -->
    <div aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full sm:inset-0 h-[calc(100%-1rem)] max-h-full text-label text-base"
         id="startModal" tabindex="-1">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 sm:p-5 rounded-t border-b border-frame">
                    <h3 class="text-xl text-black">
                        出発地点を入力する
                    </h3>
                    <button class="end-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="startModal" id="startClose" type="button">
                        <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 sm:p-5" th:object="${startPlaceForm}" id="startPlaceForm">
                    <span id="startError" class="text-danger text-sm mb-2 flex justify-center"></span>
                    <div class="space-y-4 w-full">
                        <div>
                            <label class="block mb-2" for="startPlace">出発地点<span class="ml-2 text-sm text-danger">必須</span></label>
                            <input th:field="*{name}" class="w-full input focus:ring-0" id="startPlace" name="startPlace" type="text"/>
                        </div>
                        <input th:field="*{googlePlaceId}" class="hidden" id="startPlaceId" type="text"/>
                        <input th:field="*{latitude}"  class="hidden" id="startLat" type="text"/>
                        <input th:field="*{longitude}" class="hidden" id="startLng" type="text"/>
                        <input th:field="*{dayId}" class="hidden" type="number"/>
                        <input th:field="*{budget}" class="hidden" type="number"/>
                        <input th:field="*{endTime}" class="hidden" type="time"/>
                        <input th:field="*{desiredStartTime}" class="hidden" type="time"/>
                        <input th:field="*{desiredEndTime}" class="hidden" type="time"/>
                        <input th:field="*{toPolyLine}" class="hidden" type="text"/>
                        <input th:field="*{toTravelTime}" class="hidden" type="number"/>
                        <input th:field="*{toTransportation}" class="hidden" type="text"/>
                        <div class="w-1/2">
                            <label class="block mb-2" for="startTime">予定時間<span class="ml-2 text-sm text-danger">必須</span></label>
                            <div class="relative">
                                <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" fill-rule="evenodd"/>
                                    </svg>
                                </div>
                                <input th:field="*{startTime}" class="w-full input focus:ring-0" id="startTime" max="23:59" min="00:00" placeholder="--:--" type="time"/>
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <button class="button-primary" type="submit">登録</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="startUpdateForm(updateStartForm)">
    <!-- Main modal -->
    <div aria-hidden="true"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full sm:inset-0 h-[calc(100%-1rem)] max-h-full text-label text-base"
         id="startUpdateModal" tabindex="-1">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 sm:p-5 rounded-t border-b border-frame">
                    <h3 class="text-xl text-black">
                        出発地点を入力する
                    </h3>
                    <button class="end-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                            data-modal-hide="startUpdateModal" id="startUpdateClose" type="button">
                        <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 sm:p-5" th:object="${updateStartForm}" id="updateStartForm">
                    <span id="updateStartError" class="text-danger text-sm mb-2 flex justify-center"></span>
                    <div class="space-y-4 w-full">
                        <div>
                            <label class="block mb-2" for="startUpdatePlace">出発地点<span class="ml-2 text-sm text-danger">必須</span></label>
                            <input class="w-full input focus:ring-0" id="startUpdatePlace" name="startUpdatePlace" type="text" disabled/>
                        </div>
                        <input th:field="*{id}" id="startUpdateId" class="hidden" type="number">
                        <input th:field="*{dayId}" id="startUpdateDayId" class="hidden" type="number"/>
                        <input th:field="*{budget}" id="startUpdateBudget" class="hidden" type="number"/>
                        <input th:field="*{endTime}" id="startUpdateEndTime" class="hidden" type="time"/>
                        <input th:field="*{desiredStartTime}" id="startUpdateDesiredStart" class="hidden" type="time"/>
                        <input th:field="*{desiredEndTime}" id="startUpdateDesiredEnd" class="hidden" type="time"/>
                        <input th:field="*{toPolyLine}" id="startUpdatePolyline" class="hidden" type="text"/>
                        <input th:field="*{toTravelTime}" id="startUpdateTravel" class="hidden" type="number"/>
                        <input th:field="*{toTransportation}" id="startUpdateTrans" class="hidden" type="text"/>
                        <div class="w-1/2">
                            <label class="block mb-2" for="startTime">予定時間<span class="ml-2 text-sm text-danger">必須</span></label>
                            <div class="relative">
                                <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" fill-rule="evenodd"/>
                                    </svg>
                                </div>
                                <input th:field="*{startTime}" class="w-full input focus:ring-0" id="startUpdateTime" max="23:59" min="00:00" placeholder="--:--" type="time"/>
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <button class="button-primary" type="submit">登録</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="endToggle">
    <button class="input text-center text-label max-w-md w-4/5 h-10 sm:h-12 flex justify-center items-center" data-modal-target="endModal" data-modal-toggle="endModal" id="endToggle" type="button">
        <span class="text-base sm:text-xl truncate ... px-2" id="endPlaceSpan">終了地点を入力する</span>
    </button>
</th:block>

<th:block th:fragment="endForm(endPlaceForm)">
    <div aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full sm:inset-0 h-[calc(100%-1rem)] max-h-full text-label text-base" id="endModal" tabindex="-1">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 sm:p-5 rounded-t border-b border-frame">
                    <h3 class="text-xl text-black">
                        終了地点を入力する
                    </h3>
                    <button class="end-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="endModal" id="endClose" type="button">
                        <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 sm:p-5" th:object="${endPlaceForm}" id="endPlaceForm">
                    <span id="endError" class="text-danger text-sm mb-2 flex justify-center"></span>
                    <div class="space-y-4 w-full">
                        <div>
                            <label class="block mb-2" for="endPlace">終了地点<span class="ml-2 text-sm text-danger">必須</span></label>
                            <input th:field="*{name}" class="w-full input focus:ring-0" id="endPlace" type="text"/>
                        </div>
                        <input th:field="*{googlePlaceId}" class="hidden" id="endPlaceId" name="endPlaceId" type="text"/>
                        <input th:field="*{latitude}" class="hidden" id="endLat" type="text"/>
                        <input th:field="*{longitude}" class="hidden" id="endLng" type="text"/>
                        <input th:field="*{dayId}" class="hidden" type="number"/>
                        <input th:field="*{budget}" class="hidden" type="number"/>
                        <input th:field="*{startTime}" class="hidden" type="time"/>
                        <input th:field="*{endTime}" class="hidden" type="time"/>
                        <input th:field="*{desiredStartTime}" class="hidden" type="time"/>
                        <input th:field="*{desiredEndTime}" class="hidden" type="time"/>
                        <input th:field="*{toPolyLine}" class="hidden" type="text"/>
                        <input th:field="*{toTravelTime}" class="hidden" type="number"/>
                        <input th:field="*{toTransportation}" class="hidden" type="text"/>
                        <div class="flex justify-center">
                            <button class="button-primary" type="submit">登録</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="placesToggle(num)">
    <div class="flex items-center">
        <!-- Modal toggle -->
        <button class="input border-interactive text-center text-label max-w-md w-4/5 flex justify-between items-center h-10 sm:h-12" th:data-modal-target="'placeModal' + ${num}" th:data-modal-toggle="'placeModal' + ${num}" th:id="'placeToggleBtn' + ${num}" type="button">
            <span class="absolute block text-[10px] sm:text-base" th:id="'placeTimeSpan' + ${num}">
                <th:block th:replace="~{fragment/svg :: plus}"/>
            </span>
            <span class="flex-1 text-base sm:text-xl truncate ... px-2" th:id="'placeNameSpan' + ${num}">目的地を追加する</span>
            <span class="flex flex-col items-end text-[8px] sm:text-xs">
                <span class="block" th:id="'budgetSpan' + ${num}"></span>
                <span class="block" th:id="'stayTimeSpan' + ${num}"></span>
            </span>
        </button>
        <button class="hidden px-2" th:id="'modalDeleteBtn' + ${num}">
            <th:block th:replace="~{fragment/svg :: close}"/>
        </button>
    </div>
</th:block>

<th:block th:fragment="placesForm(num, placeForm)">
    <div aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full sm:inset-0 h-[calc(100%-1rem)] max-h-full text-label text-base" tabindex="-1" th:id="'placeModal' + ${num}">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 sm:p-5 rounded-t border-b border-frame">
                    <h3 class="text-xl text-black">
                        目的地を追加する
                    </h3>
                    <button class="end-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" th:data-modal-hide="'placeModal' + ${num}" th:id="'placeCloseBtn' + ${num}" type="button">
                        <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 sm:p-5" th:object="${placeForm}" th:id="'placeForm' + ${num}">
                    <span th:id="'placeError' + ${num}" class="text-danger text-sm mb-2 flex justify-center"></span>
                    <div class="space-y-4 w-full">
                        <input th:field="*{googlePlaceId}" class="hidden" th:id="'placeId' + ${num}" type="text"/>
                        <input th:field="*{latitude}" class="hidden" th:id="'placeLat' + ${num}" type="text"/>
                        <input th:field="*{longitude}" class="hidden" th:id="'placeLng' + ${num}" type="text"/>
                        <input th:field="*{dayId}" class="hidden" th:id="'placeDayId' + ${num}" type="number"/>
                        <input th:field="*{startTime}" class="hidden" th:id="'placeStartTime' + ${num}" type="time"/>
                        <input th:field="*{endTime}" class="hidden" th:id="'placeEndTime' + ${num}" type="time"/>
                        <input th:field="*{toPolyLine}" class="hidden" th:id="'placePolyline' + ${num}" type="text"/>
                        <input th:field="*{toTravelTime}" class="hidden" th:id="'placeTravelTime' + ${num}" type="number"/>
                        <input th:field="*{toTransportation}" class="hidden" th:id="'placeTrans' + ${num}" type="text"/>
                        <div>
                            <label class="block mb-2" th:for="'place' + ${num}">目的地<span class="ml-2 text-sm text-danger">必須</span></label>
                            <input th:field="*{name}" class="w-full input focus:ring-0" th:id="'place' + ${num}" th:name="'place' + ${num}" type="text"/>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="w-1/2 pr-3">
                                <label class="block mb-2" th:for="'budget' + ${num}">予算</label>
                                <div class="flex items-end">
                                    <input th:field="*{budget}" class="w-full input focus:ring-0" th:id="'budget' + ${num}" th:name="'budget' + ${num}" type="number"/>
                                    <span>円</span>
                                </div>
                            </div>
                            <div class="w-1/2 pl-3">
                                <label class="block mb-2" th:for="'stayTime' + ${num}">滞在時間</label>
                                <div class="flex items-end">
                                    <input class="w-full input focus:ring-0" th:id="'stayTime' + ${num}" th:name="'stayTime' + ${num}" type="number" value="30"/>
                                    <span>分</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="block" th:for="'desiredStartTime' + ${num}">希望時間</label>
                            <p class="text-sm mb-2">入力された時刻の範囲内で目的地に向かうことが出来ます</p>
                            <div class="flex items-center justify-between">
                                <div class="relative w-1/2">
                                    <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" fill-rule="evenodd"/>
                                        </svg>
                                    </div>
                                    <input th:field="*{desiredStartTime}" class="w-full input focus:ring-0" max="23:59" min="00:00" placeholder="--:--" th:id="'desiredStartTime' + ${num}" th:name="'desiredStartTime' + ${num}" type="time"/>
                                </div>
                                <span class="pr-3 pl-3">～</span>
                                <div class="relative w-1/2">
                                    <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" fill-rule="evenodd"/>
                                        </svg>
                                    </div>
                                    <input th:field="*{desiredEndTime}" class="w-full input focus:ring-0" max="23:59" min="00:00" placeholder="--:--" th:id="'desiredEndTime' + ${num}" th:name="'desiredEndTime' + ${num}" type="time"/>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <button class="button-primary" type="submit">追加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="placesUpdateForm(num, updatePlaceForm)">
    <!-- Main modal -->
    <div aria-hidden="true"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full sm:inset-0 h-[calc(100%-1rem)] max-h-full text-label text-base"
         th:id="'placesUpdateModal'+${num}" tabindex="-1">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 sm:p-5 rounded-t border-b border-frame">
                    <h3 class="text-xl text-black">
                        目的地を追加する
                    </h3>
                    <button class="end-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                            th:data-modal-hide="'placesUpdateModal'+${num}" th:id="'placesUpdateClose'+${num}" type="button">
                        <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 sm:p-5" th:object="${updatePlaceForm}" th:id="'updatePlaceForm'+${num}">
                    <span th:id="'placeUpdateError'" class="text-danger text-sm mb-2 flex justify-center"></span>
                    <div class="space-y-4 w-full">
                        <input th:field="*{id}" th:id="'placeUpdateId'+${num}" class="hidden" type="number">
                        <input th:field="*{dayId}" th:id="'placeUpdateDayId'+${num}" class="hidden" type="number"/>
                        <input th:field="*{startTime}" th:id="'placeUpdateStartTime'+${num}" class="hidden" type="time"/>
                        <input th:field="*{endTime}" th:id="'placeUpdateEndTime'+${num}" class="hidden" type="time"/>
                        <input th:field="*{toPolyLine}" th:id="'placeUpdatePolyline'+${num}" class="hidden" type="text"/>
                        <input th:field="*{toTravelTime}" th:id="'placeUpdateTravel'+${num}" class="hidden" type="number"/>
                        <input th:field="*{toTransportation}" th:id="'placeUpdateTrans'+${num}" class="hidden" type="text"/>
                        <div>
                            <label class="block mb-2" th:for="'updatePlace'+${num}">目的地<span class="ml-2 text-sm text-danger">必須</span></label>
                            <input class="w-full input focus:ring-0" th:id="'updatePlace'+${num}" th:name="'updatePlace'+${num}" type="text" disabled/>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="w-1/2 pr-3">
                                <label class="block mb-2" th:for="'placeUpdateBudget' + ${num}">予算</label>
                                <div class="flex items-end">
                                    <input th:field="*{budget}" th:id="'placeUpdateBudget'+${num}" class="w-full input focus:ring-0" th:name="'placeUpdateBudget' + ${num}" type="number"/>
                                    <span>円</span>
                                </div>
                            </div>
                            <div class="w-1/2 pl-3">
                                <label class="block mb-2" th:for="'updateStayTime' + ${num}">滞在時間</label>
                                <div class="flex items-end">
                                    <input class="w-full input focus:ring-0" th:id="'updateStayTime' + ${num}" th:name="'updateStayTime' + ${num}" type="time"/>
                                    <span>分</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="block" th:for="'placeUpdateDesiredStart' + ${num}">希望時間</label>
                            <p class="text-sm mb-2">入力された時刻の範囲内で目的地に向かうことが出来ます</p>
                            <div class="flex items-center justify-between">
                                <div class="relative w-1/2">
                                    <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" fill-rule="evenodd"/>
                                        </svg>
                                    </div>
                                    <input th:field="*{desiredStartTime}" class="w-full input focus:ring-0" max="23:59" min="00:00" placeholder="--:--" th:id="'placeUpdateDesiredStart' + ${num}" th:name="'placeUpdateDesiredStart' + ${num}" type="time"/>
                                </div>
                                <span class="pr-3 pl-3">～</span>
                                <div class="relative w-1/2">
                                    <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" fill-rule="evenodd"/>
                                        </svg>
                                    </div>
                                    <input th:field="*{desiredEndTime}" class="w-full input focus:ring-0" max="23:59" min="00:00" placeholder="--:--" th:id="'placeUpdateDesiredEnd' + ${num}" th:name="'placeUpdateDesiredEnd' + ${num}" type="time"/>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <button class="button-primary" type="submit">追加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>