<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="googleMapsAPI">
    <script
        th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initialize&libraries=places&v=weekly'"
        async
        defer
    ></script>
    <script>
        function initialize() {
            initAutoComplete();
            initializeMaps();
        }
    </script>
</th:block>

<th:block th:fragment="header">
    <script src="/js/header.js"></script>
</th:block>

<th:block th:fragment="flowbite">
    <script src="/js/flowbite.min.js"></script>
</th:block>

<th:block th:fragment="check">
    <script src="/js/check.js"></script>
</th:block>

<th:block th:fragment="map">
    <script src="/js/map.js"></script>
</th:block>

<th:block th:fragment="modal">
    <script src="/js/autocomplete.js"></script>
    <script src="/js/modal.js"></script>
</th:block>

<th:block th:fragment="svgCheckbox">
    <script src="/js/svgCheckbox.js"></script>
</th:block>

<th:block th:fragment="svgRadioButton">
    <script src="/js/svgRadioButton.js"></script>
</th:block>

<th:blocl th:fragment="redirect">
    <script src="/js/redirect.js"></script>
</th:blocl>
</body>
</html>