<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{fragment/head :: head('メール送信確認(送信登録確認)')}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center mt-10 flex-grow">
    <h2 class="text-center sm:text-3xl text-lg font-medium text-default w-3/4">仮登録ありがとうございます</h2>
    <div class="my-16 text-center sm:text-xl text-sm w-3/4">
        <p class="my-2">以下のメールアドレスにメールを送信しました</p>
        <p class="my-2">メールに記載されているご案内に従い、本登録を完了させてください</p>
        <!--/*@thymesVar id="mailAddress" type="java.lang.String"*/-->
        <span class="sm:text-2xl text-lg font-medium my-2" th:text="${mailAddress}"></span>
        <p class="my-2">メールが届かない場合は再送信を押してください</p>
    </div>
<!--    TODO:onclickの処理を記述-->
    <button type="button" class="button-primary" style="max-width: 7.375rem" onclick="">再送信</button>
</main>

<th:block th:replace="~{fragment/footer :: footer}"/>
<th:block th:replace="~{fragment/script :: header}"/>
</body>
</html>
