<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{fragment/head :: head(メールアドレス編集)}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center mt-10 flex-grow">
    <h2 class="text-center sm:text-3xl text-2xl font-medium">メールアドレス編集</h2>
    <!--TODO: Figmaではエラーメッセージの表示がなかったけどあってもいいかも？-->
    <!--エラーメッセージの表示-->
    <!--<div th:if="${param.error}" class="error-message">-->
    <!--    メールアドレス、またはパスワードが違います-->
    <!--</div>-->
    <form th:action="@{/user/edit/mail}" th:object="${editMailAddressForm}" method="post" class="w-full sm:max-w-lg max-w-xs">
        <input th:field="*{currentMailAddress}" required hidden aria-label>
        <div class="my-10">
            <label for="mail" class="block sm:text-base text-sp-default sm:my-1 my-0.5 text-sm">新しいメールアドレス</label>
            <input th:field="*{newMailAddress}" id="mail" type="email" required class="w-full input"/>
        </div>
        <div class="my-10">
            <label for="currentPassword" class="block sm:text-base text-sp-default sm:my-1 my-0.5 text-sm">現在のパスワード</label>
            <input th:field="*{currentPassword}"  id="currentPassword" type="password" required class="w-full input"/>
        </div>
        <div class="flex items-center justify-center">
            <button type="submit" class="button-primary" style="max-width: 7.375rem">変更</button>
        </div>
    </form>
</main>

<th:block th:replace="~{fragment/footer :: footer}"/>
<th:block th:replace="~{fragment/script :: header}"/>
</body>
</html>
